{% extends 'base.html' %}

{% block head %}
<title>Todo List - Index</title>
{% endblock %}



{% block div %}
<h1>Todo List!</h1>
<form method="POST" action="/">
    <label for="title">Task</label>
    <div class="input-group">
        <input type="text" class="form-control" id="title">
    <span class="input-group-btn">
        <input type="submit" value="Add Task" class="ml-2 btn btn-primary">
    </span>
    </div>
</form>
<table class="table table-striped mx-auto mt-5">
    <tr>
        <th id="task">Task</th>
        <th>Date</th>
        <th>Actions</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>
            <a class="btn btn-warning "href="#">E</a>
            <a class="btn btn-danger " href="#">X</a>
        </td>
        
    </tr>
</table>
{% endblock %}